body {
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: -apple-system, "Helvetica Neue", "Lucida Grande", sans-serif;
  font-size: 4vmin;
  justify-content: space-between;
  line-height: 4vmin;
}

a {
  color: rgb(0, 216, 255);
}
